[2013-04-10 16:51] frhamard opened #1 "RMC and GGA parser does not parse milliseconds"
Hello,

I do not know if it is a bug or if it is a will but in 0.0-SNAPSHOT, RMC parser and GGA parser does not parse milliseconds, sothe time is always with 0 milliseconds:

GGAParser.java : line 210
RMC Parser.java : line 176

Thanks for this beautiful project.

[2013-05-15 06:35] ktuukkan opened #2 "Sentence length validation is too strict in some cases"
"After some investigating, including downloading the source code, I discovered the problem: In net.sf.marineapi.nmea.sentence.SentenceValidator.isSentence there are regexps that have a fixed idea about the maximum length of the data part of a sentence:

[\x20-\x7F]{0,72} and [\x20-\x7F]{0,75}

When the GPS device switched from GPS sentences to DGPS sentences, the final previously unused fields in

[2013-05-21 07:13] pswrdf opened #3 "process overload SentenceReader bug"
PATCH:
--- SentenceReader.java 2013-05-21 10:54:05.565951582 +0400
+++ SentenceReaderNew.java      2013-05-21 10:54:32.669950442 +0400
@@ -330,6 +330,7 @@
                        while (isRunning) {
                                try {
                                        if (!input.ready()) {
-                                               Thread.sleep(50);

[2013-07-01 18:29] #3 closed, assigned to ktuukkan

[2013-08-29 17:16] #1 closed, assigned to ktuukkan

[2013-09-08 07:30] #2 closed, assigned to ktuukkan

[2013-10-29 10:46] ghost opened #4 "Sentence API"
Hi,

I have a question on The sentence inheritence structure. You've made sentence interface to provide a categorization (position, time, etc), what I find really good. But I'm asking myself why some getters are not defined public in those interfaces, as their redefined in each implementation as pubiic function.

One exemple is PositionSentence interface, which provide getPosition() method as prot

[2013-10-29 10:49] #4 closed, assigned to nobody

[2013-11-26 03:41] mingcheng opened #5 "Speed is wrong!"
https://github.com/ktuukkan/marine-api/blob/master/src/main/java/net/sf/marineapi/nmea/sentence/RMCSentence.java

[code]

from knots to kmh with out any convert

https://github.com/ktuukkan/marine-api/blob/master/src/main/java/net/sf/marineapi/provider/event/PositionEvent.java#L128

so, right thing is:

[code]

[2013-11-28 17:23] ktuukkan opened #6 "SentenceId.parseStr() too strict with sentence id lengths"
SentenceId.parseStr() accepts only sentences that have exactly 5 chars in sentence id. This prevents parsing certain proprietary sentences that have different id length, for example $PBVE.

[2013-11-28 17:50] #5 closed, assigned to ktuukkan

[2013-11-28 17:53] #6 closed, assigned to ktuukkan

[2014-01-11 10:37] ktuukkan opened #7 "Automatic sentence type resolving"
Current SentenceListener requires user to check each received sentence for type and cast it in correct interface. This can be fixed by adding a base class for creating listeners for specific sentences with automatic type resolving and casting.

[2014-01-22 07:21] miketamis opened #8 "HDT Messages arnt being parsed"
my HDT messages arnt being picked
eg. $CPHDT,270.0,T*34

[2014-01-22 20:44] #8 closed, assigned to ktuukkan

[2014-02-21 19:39] #7 closed, assigned to ktuukkan

[2014-03-23 14:07] ktuukkan opened #10 "XTE parser"

[2014-03-23 14:10] ktuukkan opened #11 "VDR parser"
http://catb.org/gpsd/NMEA.html#_vdr_set_and_drift

[2014-03-23 14:11] ktuukkan opened #12 "APB parser"
http://catb.org/gpsd/NMEA.html#_apb_autopilot_sentence_b

[2014-03-23 14:11] ktuukkan opened #13 "RSA parser"
http://catb.org/gpsd/NMEA.html#_rsa_rudder_sensor_angle

[2014-03-23 14:13] ktuukkan opened #14 "DTM parser"
http://catb.org/gpsd/NMEA.html#_dtm_datum_reference

[2014-03-23 14:14] ktuukkan opened #15 "RPM parser"
http://catb.org/gpsd/NMEA.html#_rpm_revolutions

[2014-03-23 14:14] ktuukkan opened #16 "VLW parser"
http://catb.org/gpsd/NMEA.html#_vlw_distance_traveled_through_water

[2014-03-24 04:42] jajberni opened #17 "Add support to GLONASS sentences"
NMEA sentences starting with GL causes exception:

E.g.:

$GLGSV,2,1,07,70,28,145,44,71,67,081,46,72,34,359,40,77,16,245,35,1_76
$GLGSV,2,2,07,85,30,089,40,86,58,158,48,87,24,223,39,,,,,1_47

[code]

[2014-03-24 16:36] #17 closed, assigned to ktuukkan

[2014-04-03 16:44] lexxel opened #18 "RMCParser Error"
I have a GPS device which delivers an empty field for "speed" when it never was moved.
This leads to the RMC sentence being unparsable because a DataNotAvailableException is thrown in SentenceParser.java method getStringValue().

A quick fix would be to catch the exception in SentenceParser.getDoubleValue() and set the value to 0.

Thanks and kind regards,
Alex

[2014-04-11 21:15] #10 closed, assigned to nobody

[2014-04-11 21:15] #13 closed, assigned to nobody

[2014-04-13 11:10] #11 closed, assigned to ktuukkan

[2014-05-08 15:21] misterbobdobalina opened #20 "NMEA strings end with <CR><LF>, but that isn't valid with current implementation."
private static final Pattern reChecksum = Pattern.compile("^[$|!]{1}[A-Z0-9]{3,10}[,][\x20-\x7F]_[_][A-F0-9]{2}$");

Doesn't match: < CR>< LF> at the end of the string according to the standard(?).

Consider something like this maybe:
private static final Pattern reChecksum = Pattern.compile("^[$|!]{1}[A-Z0-9]{3,10}[,][\x20-\x7F]_[_][A-F0-9]{2}(\r\n){0,1}$");

Though this might have implications e

[2014-05-10 10:34] #20 closed, assigned to nobody

[2014-05-31 19:53] #14 closed, assigned to nobody

[2014-06-06 20:46] #15 closed, assigned to nobody

[2014-06-07 08:19] #16 closed, assigned to nobody

[2014-06-07 10:41] #12 closed, assigned to nobody

[2015-01-08 14:12] GPSHansl opened #25 "Provide own DataReader to SentenceReader, Logging"
It is pretty straight forward to have an SentenceReader initialized with either DatagramSocket or an InputStream.
On instantiation with an InputStream, the "DefaultDataReader" tries to read lines. The "available" on the InputStream is not checked in "DefaultDataReader", so there is the posibility (when accessing a SerialPort) that there is no data available, which leads to "WARNING: InputStream re

[2015-01-08 14:40] GPSHansl opened #26 "Range checking when accessing Sentence fields"
`getStringValue()` should throw a `DataNotAvailableException` whenever the index is not within the `fields` range. Currently it is throwing an `IndexOutOfBoundsException`.

Maybe any of the `get...Value()` method should return a default value which will be returned when no value is found in the sentence.

e.g.:
[code]

To provide my own `SentenceFactory`, which will not except on missing fields, I

[2015-01-08 17:46] ktuukkan commented on #26
IndexOutOfBoundsException is perfectly valid as it tells that the requested field does not exist (i.e. you made a mistake while writing a parser). DataNotAvailableException tells you that the field exists but is empty (i.e. you didn't make a mistake, advices end-user to handle it somehow). Also, the number of fields in each sentence is usually very well known and the aim is to hide indexes from th

[2015-01-08 18:21] ktuukkan commented on #25
Added ready() check before reading the input stream and changed logging only if no ExceptionHandler is present, check the snapshots for latest build.

[2015-01-09 06:49] GPSHansl commented on #26
What about a partial read Sentence, e.g. "$GPGGA,"?
[code]

Following assertion works flawlessly, wheras I think it's wrong (isn't it?):
[code]

Following assertion will throw an "IndexOutOfBound" instead of returning a correct "INVALID"
[code]

[2015-01-09 12:32] ktuukkan commented on #26
The isValid() method validates the sentence in terms of correct message format, but it doesn't validate each field at once because that would make general validation more complex. This is why each field is validated individually by parser setters and getters. The incomplete sentence String in your example is indeed a valid sentence (no formatting errors), but of course it is incomplete as GGA mess

[2015-01-10 18:31] ktuukkan opened #27 "Method for listing available parsers in SentenceFactory"
marc-pan via sourceforge.com:
I do not know the frame types managed by the library dynamically. A methods like: getAvailableParser in SentenceFactory returning the list of types managed (as class or String) might be useful.

[2015-01-10 18:32] ktuukkan opened #28 "Sentence clone method"
Parser doesn't provide public clone method, and i don't find elegant way to do it. The only way that i find to do it for the moment is;
<pre>
SentenceFactory.getInstance().createParser(sentence.toString())
</pre>
but it's not really efficient.

[2015-01-11 08:59] ktuukkan commented on #18
This is rather device-specific issue and also not so easily fixed because not all values have feasible defaults. Also, using null doesn't feel like a good idea because it cannot be assigned to primitive types.

[2015-01-11 08:59] #18 closed

[2015-01-12 08:29] #26 closed

[2015-01-13 09:49] lexxel commented on #18
Thats a pitty ... It makes the API unusable for me.
In my opinion it would be best to use only non-primitive data types. This would allow you to return null in any case a device does not deliver what it should (or what the standard says).
This would make the API much more usable and would allow the developer to react better on his specific device (by checking the values for null value where needed

[2015-01-13 19:41] ktuukkan commented on #18
I'll think this over once more, but in both designs you still have to write either if-clause or try-catch.. don't see much difference in that.

[2015-01-14 08:58] lexxel commented on #18
I can't remember my use case exactly, but you might be right ...

[2015-01-19 19:41] ktuukkan commented on #27
Available parser types are now returned by
<pre>
List&lt;String&gt; listParsers();
</pre>

[2015-01-19 19:41] #27 closed

[2015-01-20 05:37] ritchieGitHub opened #31 "xdrsentences parser looses measurments"
in the method net.sf.marineapi.nmea.parser.XDRParserFixed.getMeasurements() the index handling is not correct. my fixed version:
[code]

some test data gathered from various places in the internet.
[code]

[2015-01-20 05:44] ritchieGitHub opened #32 "MWDParser/Sentens and MDAParser"
i know the sentences are not recommended anymore but still used, thats why i wrote parser and sentence for them. if you wan't them just let me know.

[2015-01-20 19:45] ktuukkan commented on #32
Thanks, these would be nice addition.

[2015-01-24 12:14] ritchieGitHub commented on #32
Ok, i am not so gold with gut yet. But i will try to do it tomorrow.

[2015-01-24 12:15] ritchieGitHub commented on #32
Sorry github  is also New for me...

[2015-01-24 14:40] ktuukkan commented on #31
Thanks for reporting, confirmed and fixed as suggested.

[2015-01-24 14:40] #31 closed

[2015-01-25 08:20] ritchieGitHub commented on #32
ok, 3 pull requests ready (hopefully)

[2015-01-25 16:26] ktuukkan commented on #32
Hi, thanks for the parsers. Just reviewed your pull requests #34 and #35 and otherwise looking good, but I think the getters are bit too strict with units and possibly missing values. For example, what if some device produced sentences with empty unit field or values given in different units? I know, the NMEA spec may say celcius and mercury inches, but in reality you'd never know what might be in

[2015-01-25 18:00] ritchieGitHub commented on #32
I think it is best when the code is as simmular as possible. So do it how you want it. But i think the NaN stuft is i important in this case because of many intendet empty fields (almoust no Sensor sends all the data). This way i just have to call the getter, and if it is not NaN it was available. Setter i did not make because it is explizitly not recomended to generate such sentences. XDR should

[2015-01-25 19:08] ritchieGitHub commented on #32
Another thing ;-) how mich Chance is there for a new release soon?

[2015-01-25 20:36] ktuukkan commented on #32
Ok, I'll merge and finish them soon. I'm waiting for some other additions before the next release, but hopefully quite soon(ish). In the meanwhile, you can use the snapshots (see readme.md).

[2015-01-26 06:57] ritchieGitHub commented on #32
ok, i am using the snapshot now. thanks!

[2015-01-26 18:10] chjwch opened #37 "TalkerId should be a general class, so it can be support unknown type"
The Chinese beidou system's talker id is BD,  there is no BD in the enum TalkerId.

I think if the TalkerId is a generic class can support use-specific talkerId.

[2015-01-26 20:04] ktuukkan commented on #37
Thanks for reporting, added BD in TalkerId. Please let me know if you need any other IDs as they are very straight-forward to add. You may use the latest snapshot version before the next release.

[2015-01-26 20:04] #37 closed

[2015-02-03 03:55] minghia opened #38 "Usages of SentenceReader and UDPDataReader confusing"
Is it intended to use both SentenceReader  and UDPDataReader  in the one application? I'm a little confused as SentenceReader can create  an UDPDataReader  and SentenceReader creates a UDPDataReader if it is instantiated with a DatagramSocket. Would it be possible to have an example of creating a SentenceReader with a DatagramSocket? Thanks in advance.

Tony

[2015-02-04 21:16] ktuukkan commented on #38
UDPDataReader is used only internally (visible only in package scope), so you should just give DatagramSocket to SentenceReader, register some listeners and start the reader.

[2015-02-05 03:57] minghia commented on #38
Thanks for that. I sort of work that out by trying to use SentenceReader. By the way does the system handle the concating of messages? For example can you use this system to concat a VLW and VHW message and send them in one message? I tried this in Java by concating the two messages but had no success in receiving the combined message.

[2015-02-05 07:12] ktuukkan commented on #38
According to NMEA spec each message is terminated by newline and thus SentenceReader and parsers handle only one message at a time. So if you need to concat messages, you should separate them with Sentence.TERMINATOR.

[2015-02-05 07:28] minghia commented on #38
I create each of the message with the appropriate parser and then I tried to concatenate the two messages with System.arraycopy after converting each Sentence to a series of bytes the lengths of the concated message look okay. Does calling toSentence() remove the terminator? It seems to be missing when I look at the bytes I am writing down the socket.

[2015-02-05 13:49] ktuukkan commented on #38
Yes, current implementation of toSentence() excludes the terminator chars (it probably should include it, though).

[2015-02-07 11:01] ktuukkan commented on #32
Hi, any ideas what's the correct interpretation for barometric pressure fields MDA? The current implementation assumes the other set of fields to be in mercury inches (Hg), but test data shows that there may be other units as well. I'm thinking, maybe the field getters/setters should be called "primary" and "secondary" or something similar (e.g. getPrimaryBarometricPressure() etc).

[2015-02-10 11:24] jasonhector opened #39 "getConstructor reflection on enum TalkerId"
Hi I am trying to use your nmea library on a kindle and run it as a java applet [or kindlet] . When I debug the code seems to stop in SentenceFactory.registerParser() at the "parser.getConstructor(TalkerId.class)" Im not a reflections expert and even after googling cant seem to determine what "parser.getConstructor(TalkerId.class)" is doing and why it works [since getConstructor for enums is not a

[2015-02-10 21:28] ktuukkan commented on #39
Hi, the failing code is checking if parser to be registered has constructor that takes TalkerId enum as parameter. It seems Kindle's Java is based on older Java ME (a subset of full Java SE) which in turn has the older version of class Class (not 100% sure, but as per quick googling it seems so). The signature of getConstructor() is slightly different between these versions.

[Java ME](http://docs

[2015-02-11 07:25] jasonhector commented on #39
Hi, Thanks for the feedback so far.
I changed to your fix but the code still hangs at the same place [see below]. Note that there is no compile errors, and that the kindlet starts fine but then hangs at "parser.getConstructor(TalkerId.class)"

Here is my/your code[I littered with debug print statements]:
	public void registerParser(String type, Class<? extends SentenceParser> parser) {
		log("Sent

[2015-02-11 10:16] jasonhector commented on #39
After digging a bit myself, the supported JRE is 1.4 [or earlier] on the kindle for the cvm. So no typed parameters. I see the 0.1 release requires java 1.5. <Is this a dead-end>

Would it be substantially challenging to have the library compatible with JRE 1.4? What would need to be done? I dont mind forking and doing the work, but if its a complete redesign of your library then it might not be w

[2015-02-11 15:04] ktuukkan commented on #39
This is what I was suspecting after having second thought. Making the library compatible with 1.4 is probrably quite an effort as generics have been used in many places. Maybe not a complete redesign, but in some parts might get a bit tricky (e.g. AbstractSentenceListener).

[2015-02-11 16:16] jasonhector commented on #39
Hi. One of.my earlier kindle project used a library called retroweaver which allows the use of later java jdks and it gets past the failing code. So this is promising. Gonna run some further tests tonight.

[2015-02-12 06:44] #39 closed

[2015-02-13 05:49] ritchieGitHub commented on #32
just scanned a littel throu the examples i collected, and it seems like the unit of the first field varries but the unit of the second seems to be always bars. probably best to be on the save side and do as you say name them primary and secondary. I will make a new pull request for that.

[2015-02-13 06:19] ritchieGitHub commented on #32
ok pull request created, with a unit test for other unit types

[2015-02-14 08:46] #32 closed

[2015-02-21 13:06] #38 closed

[2015-02-21 21:30] ktuukkan opened #41 "TalkerId is missing some of AIS talkers"
Add missing ids in TalkerId:
http://catb.org/gpsd/AIVDM.html#_talker_ids

[2015-02-25 02:00] gump67 opened #42 "SentenceReaderTest.testExceptionListener()"
Reader still open after test case finishes.
....

		reader.start();
		try {
			stream.close();
		} catch (IOException e) {
			fail("failed to close stream");
		}

	}

This will not show up in normal JUNIT tests because I believe JUNIT calls System.exit to force the junit operations to end.  However, if you run the operation in a normal (non JUNIT) environment, the while loop in the reader will cau

[2015-02-26 06:28] ktuukkan commented on #42
Thanks, nice catch. I'll check this out soon.

[2015-03-18 10:42] Seraphis opened #43 "ClassCastException"
I get
ClassCastException: java.lang.Class cannot be cast to java.lang.reflect.ParameterizedType
at AbstractSentenceListener.java:52

I have pretty similar code to your example at the end of https://github.com/ktuukkan/marine-api/blob/master/src/main/java/net/sf/marineapi/example/SentenceListenerExamples.java file.

[2015-03-18 13:58] ktuukkan commented on #43
Hi,
what's the generic type you are using when extending AbstractSentenceListener? It should be one of the actual sentence interfaces (e.g. GGASentence, but any interface GGASentence extends won't work at the moment).

[2015-03-19 04:59] Seraphis commented on #43
I'm using GGASentence:
public class GGAListener extends AbstractSentenceListener<GGASentence>

[2015-03-20 06:05] ktuukkan commented on #43
I'm unable to reproduce this, could you paste a snippet of your code?

[2015-03-20 10:32] Seraphis commented on #43
[code]

[2015-04-01 13:22] flawlesscoder opened #44 "Incorrect transform to java.util.Date"
Month must be one less for the java.util.Calendar.
Change it on this (net.sf.marineapi.nmea.util.Date):
[code]

[2015-04-01 13:41] Forsety commented on #44
This issue is already fixed in my pull request ktuukkan/marine-api#24.

[2015-04-01 20:00] ktuukkan commented on #43
Your code is ok, but I still haven't been able to reproduce this on JDK, maybe Android specific? Which Java version are you using?

[2015-04-01 20:04] ktuukkan commented on #44
Yes this should be fixed already, please check if you have fetched latests changes or snaphot.

[2015-04-03 09:20] Seraphis commented on #43
There might be a problem with proguard. Debug apk was working fine. I am still waiting for test results.

[2015-04-09 00:28] gump67 commented on #42
I apologize, after reviewing this issue further I realized that there is actually a major problem in the source code as well.

A few lines up, you will notice that the test code expects the stream.close() to throw an exception.  This exception is outlined by your anonymous class  with the overridden method onException. However, this exception is not invoked and as such is missed entirely.

If you

[2015-04-09 00:29] gump67 commented on #42
Keep in mind you will still need to fix the source code after adding the Test code.

[2015-04-09 20:12] ktuukkan commented on #42
Actually, it seems this test was outdated now that DefaultDataReader performs ready() check for InputStream before trying to read from it (this was added recently). That is, with this check in place closing the stream does not anymore result in exception thrown as it used to and thus onException() never got called.

Refactored the test for now so that handleException() is called directly. Further

[2015-04-10 13:30] #44 closed

[2015-04-11 08:49] #41 closed

[2015-07-03 10:59] ktuukkan opened #47 "TalkerId "IR""
Add missing talker-id "IR" for supporting Indian Regional Navigation Satellite System.

[2015-07-04 20:02] #47 closed

[2015-07-04 20:02] #42 closed

[2015-07-13 14:56] adrianulbona opened #48 "Thread.sleep(50) in AbstractDataReader.java makes files parsing slow"
I tested the parser on some large files and it looks like a SentenceReader is quite slow. I suppose that the sleep is required when the UDPDataReader implementation is used, but for the DefaultDataReader it makes sense to call Thread.sleep()?

[2015-07-15 09:35] ktuukkan commented on #48
Hi, it's there mainly to prevent reader loop from eating all CPU. I think it would be feasible to make it configurable, if not getting rid of it totally if possible.

[2015-07-15 14:05] adrianulbona commented on #48
Thanks for answer. I will think of a solution to make the sleep time configurable and I will send you a pull request.

By the way, this library is really helpful. :)

[2015-07-15 15:40] ktuukkan commented on #48
Thanks, looking forward to it. I'm glad you like it :)

[2015-07-15 15:52] ktuukkan commented on #43
Closing the issues as related in external tools.

[2015-07-15 15:52] #43 closed

[2015-07-20 10:48] adrianulbona commented on #48
Added pull request #49. As everything is running on a thread, the CPU overhead will be reasonable, the OS will handle the CPU load.

[2015-10-30 15:50] ktuukkan commented on #48
Added the feature in master now, resolving the issue as I proposed earlier in pull-req #49 (closed).

[2015-10-30 15:50] #48 closed

[2015-12-10 20:32] ktuukkan commented on #28
This turned out to be non-trivial, postponing for later release.

[2016-04-12 11:21] azaraphel opened #53 "Misunderstanding of String.format for float"
In #toString of Position, it is used format with "%02.04f" and "%03.04f" pattern. It seems you want a left padding like with the "%02d" pattern. But with 'f', the left numerical value indicates the total number of characters.
Try this :
System.out.println(String.format("%02.04f", 1.23456F));
System.out.println(String.format("%04.04f", 1.23456F));
System.out.println(String.format("%05.04f", 1.23456

[2016-04-13 06:15] ktuukkan commented on #53
Good catch, I'll check it out soon. Thanks!

[2016-04-17 12:08] ktuukkan commented on #53
Fixed using DecimalFormat; left padding to 2 or 3 digits with 7 decimals.

[2016-04-29 06:00] wureka opened #55 "java.lang.IllegalArgumentException: Parser for type 'TXT' not found"
Hi, my code happened the below exception. Would you please tell me how to fix ?

My code:
`
public class GpsTest implements SatelliteInfoListener {

[code]

`

Exception is below:

`Apr 29, 2016 1:38:13 PM net.sf.marineapi.nmea.io.AbstractDataReader run
WARNING: Data read failed
java.lang.IllegalArgumentException: Parser for type 'GBS' not found
        at net.sf.marineapi.nmea.parser.SentenceFact

[2016-04-30 13:26] ktuukkan commented on #55
Hi! This is simply due that CBS and TXT sentences are not currently supported, so SentenceFactory throws an error because it cannot handle them. If you don't care about these sentences, you can simply ignore this, it's basically just a warning.

If you need the information transmitted by these sentences, you may implement the parsers and register them in SentenceFactory before starting the reader,

[2016-04-30 14:03] #53 closed

[2016-06-22 13:23] Turix opened #56 "PositionProvider exception if RMC is missing FAA mode field"
Hi,

I've been having a bit of a play around with MarineAPI and I think I've found an issue:

If I try to use a PositionProvider with RMC sentences that do not contain the optional FAA Mode field, the following exception occurs:

[code]

I have tried to confirm this in isolation of my application by running the a sample file from http://www.gpsinformation.org/dale/nmea.htm#stream (Garmin g12) thro

[2016-06-26 07:14] ktuukkan commented on #56
Hi, it's quite likely this hasn't just been taken into account while writing the provider as NMEA has quite many fields that may or may not be there. Thanks for reporting!

[2016-07-03 19:17] ktuukkan commented on #18
Probably related to issue #56, stay tuned for a fix. As the error message says, exception was actually thrown by listener (i.e. your code) while ExceptionListener is for catching IOExceptions occured within the reader. DataNotAvailableException is thrown by individual parsers and thus it is not a problem within the reader. Typically you should just wrap the throwing call in try-catch and try to re

[2016-07-03 23:35] WickedShell commented on #18
SentenceListener isn't my code? I've only implemented a PositionListener and the ExceptionListener the rest is all from the library. (My exception handler formats everything differently as well)

[2016-07-04 06:24] ktuukkan commented on #18
Ah, yes, when using providers the listener is indeed library code. Sorry, my mistake, was thinking about the usual use case of listeners. Anyways, the issue #56 should resolve this, trying squeeze some time to resolve is soon.

[2016-07-04 06:55] WickedShell commented on #18
Thanks will follow closely :)

[2016-07-04 20:06] ktuukkan commented on #56
Fix deployed in snapshots repo, please verify and close the issue if all is good.

[2016-07-05 09:50] Turix commented on #56
That appears to have solved the issue, thanks!

[2016-07-05 09:50] #56 closed

[2016-08-22 17:46] drykovanov opened #57 "DataNotAvailableException in RMCParser with USB GPS receiver"
We have cheap USB GPS receiver that seems to skip course information in GPRMC message
`$GPRMC,162945.000,A,6000.3763,N,03021.4359,E,0.00,,220816,,,A*7E`
This results to DataNotAvailableException:

[code]

[2016-08-24 16:32] ktuukkan commented on #57
Hi, this issue has already been resolved in pull-request #51 and is included in 0.10.0-SNAPSHOT.

[2016-09-29 16:15] srehlig opened #58 "Parsers for GNS Sentences"
Hi,

the library looks good to me. We are integrating a u-blox GNSS receiver into an android platform and are evaluating marine-api.

What about extending the library with parsers for http://www.trimble.com/OEM_ReceiverHelp/V4.44/en/NMEA-0183messages_GNS.html ?

Are there any plans or is that already possible and i missed it?

Thanks,
Stefan

[2016-09-30 10:13] ktuukkan commented on #58
Hi,
currently there's no implementation for GNS but it seems quite straightforward to add. I can look into it but unfortunately cannot promise very tight schedule. Another option would be that you implement it yourself and register the parser in SentenceFactory at runtime (see SentenceFactory javadocs). In this case you may also contribute the code in main repo if you wish.

[2016-10-12 08:24] Garatti opened #59 "GGA missing method"
Hello,
Firts of all, Great project!
I was wondering it in the GGA class is there a motivation for the missing setSatelliteCount() method? It is linked to any other information derived from another sentence? I'm using this api in a simuator, and i kinldy ask if it is foreseen in the next future the introduction of such method.
Thank you very much.

[2016-10-14 11:57] ktuukkan commented on #59
Hi,
I simply seem to have missed it while adding setters, they were added some time later than getters. Thanks for reporting, I'll add it in the near future :)

[2016-11-01 20:22] ktuukkan commented on #59
Added setter in GGA, now available in latest snapshot build.

[2016-11-01 20:22] #59 closed

[2016-11-06 13:22] ktuukkan commented on #58
Support for GNS added and now available in latest snapshot.

[2016-11-06 13:22] #58 closed

[2016-11-28 14:34] nm3210 commented on #55
Hey @ktuukkan, I think I'm having an issue related to setting an exception listener in the v0.9.0 release (not sure if anything has been fixed in 0.10.0 for it). Per your recommendation, I am trying to suppress errors from the AbstractDataReader for bad/unrecognized lines in the nmea file.

The code seems straightforward enough:
[code]

However, I get the following out with no acknowledgement that

[2016-12-03 19:10] ktuukkan commented on #55
Hi @nm3210, in v0.9 ExceptionHandler is called only when actual read errors are thrown while reading the stream or UDP socket. In 0.10 however, exceptions thrown by SentenceFactory are also passed to ExceptionHandler to enable suppressing them.

My bad, should have mentioned earlier that this works only in 0.10 snapshot.

[2016-12-03 19:19] #57 closed

[2017-01-24 20:01] rob42 opened #61 "Support for seatalk Stalk sentence, and signalk"
Over in the signalk.org project we have been using marineapi in the java server implementation, and its great!

We would like support for the seatalk over NMEA Stalk sentences and wonder if thats in scope for you?

Also @ktuukkan, we talked some years ago now about signalk support in marineapi, that would be great too, and make marineapi the premier way to do NMEA to IoT and internet. Your thought

[2017-01-25 20:30] ktuukkan commented on #61
Hi @rob42, nice to hear from you, I'm glad it works well for you!

I'm not that familiar with SeaTalk but basic support for $STALK would seem pretty easy to implement as it's mainly a variable number of hex fields. Would this be sufficient for you as a start? Further decoding of messages would seem to require more knowledge on the format and could probably work in the same way as with AIS messages

[2017-01-27 05:40] titio72 opened #62 "MWDSentence"
Hi,

First of all: great work!

I've fixed a couple of bugs in the MWDParser - the number of fields was wrong (20 instead of 8) and the speed unit also (K instead of N).
If you want you can check out the fix in my clone (tito72/marine-api)

Very minor: in my clone I've added also a new talker (OC) for OpenPlotter.

Cheers

[2017-01-28 19:07] ktuukkan commented on #62
Hi, thanks @titio72 !

Must have been simple copy/paste mistakes, and looks like the tests are not covering those. OC seems non-standard, but I believe it's also safe to include in the lib to provide support for OpenPlotter.

Could you open a pull-request so it's easier to merge your changes?

[2017-01-28 19:44] ktuukkan opened #63 "Add support for GBS sentences"
https://www.trimble.com/OEM_ReceiverHelp/V4.44/en/NMEA-0183messages_GBS.html

[2017-01-28 19:44] ktuukkan opened #64 "Add support for GST sentences"
https://www.trimble.com/OEM_ReceiverHelp/V4.44/en/NMEA-0183messages_GST.html

[2017-01-28 19:50] ktuukkan opened #65 "Add support for TXT sentences"
https://www.sparkfun.com/datasheets/GPS/Modules/D2523T%20V1.pdf

https://tnp.uservoice.com/knowledgebase/articles/172139-using-team-tracker-with-nmea-aprs-generic-tracki

[2017-01-28 19:52] ktuukkan commented on #55
Created separate tasks for adding support for GBS, GST and TXT sentences, thus closing this one.

[2017-01-28 19:52] #55 closed

[2017-01-29 10:43] ktuukkan commented on #62
PR merged, thanks!

[2017-01-29 10:43] #62 closed

[2017-01-29 19:18] rob42 commented on #61
Re $STALK, yes that sounds good.
Signalk support would ideally provide translation from NMEA direct to signalk, and potentially in reverse, although this is more complex as you generally need a variety of signalk data values for a single NMEA message.
You can get a reasonable overview at signalk.org, and via github, The best place to discuss is on slack, there is a link to let you join on the sign

[2017-01-29 19:24] rob42 commented on #61
https://github.com/SignalK/signalk-core-java/blob/master/src/main/java/nz/co/fortytwo/signalk/handler/NMEAHandler.java converts from NMEA to a map of signalk values.
https://github.com/SignalK/signalk-core-java/blob/master/src/test/java/nz/co/fortytwo/signalk/handler/NMEAHandlerTest.java  the associated test.
I have existsing code to convert the flat map to signalk json output.

[2017-01-30 20:21] ktuukkan commented on #61
Ok, cool. I'll split this in separate issues for SeaTalk and SignalK. Let's record things of importance under those to keep it clear.

[2017-01-30 20:29] ktuukkan opened #67 "Add support for $STALK sentence"
Basic sentence support for NMEA layer of Raymarine SeaTalk protocol.

http://www.thomasknauf.de/seatalk.htm
http://www.gadgetpool.de/nuke/images/articles/bridge128sd/ManualBridge128SDV3.01.pdf

[2017-01-30 20:33] ktuukkan opened #68 "Support for SignalK JSON"

[2017-01-30 20:33] ktuukkan commented on #68
NMEA to a map of SignalK values:
https://github.com/SignalK/signalk-core-java/blob/master/src/main/java/nz/co/fortytwo/signalk/handler/NMEAHandler.java

Associated tests:
https://github.com/SignalK/signalk-core-java/blob/master/src/test/java/nz/co/fortytwo/signalk/handler/NMEAHandlerTest.java

[2017-01-30 20:33] ktuukkan commented on #61
Issues #67 and #68 created.

[2017-01-30 21:10] ktuukkan commented on #67
This sentence is using unusual talker/sentence ID, but $S doesn't seem to overlap anything "standard", so it can probably be added in TalkerId enum quite safely. Other than that, shouldn't be too hard.

[2017-02-08 20:36] ktuukkan commented on #67
Some examples provided [here](http://www.gadgetpool.de/nuke/downloads/gadgets/SeatalkNmeaLink/ManualUsbV3-5_OptoSw1.69.pdf):
`$STALK,30,00,0C` - Switch ON illumination on SeaTalk instruments.
`$STALK,30,00,00` - Switch OFF illumination on SeaTalk instruments.

[2017-02-09 14:40] Emaxoso commented on #65
Yes this could be really usefull

[2017-06-07 11:05] nadjibmaka commented on #55
still no parser for TXT ? :)

[2017-07-18 10:34] erosdet opened #73 "MMSI AIS problem"
In AisMessageFactory i have

public AISMessage create(AISSentence... sentences) {
AISMessageParser parser = new AISMessageParser();
if (!parsers.containsKey(parser.getMessageType())) {

When create a new AISMessageParser(), the decoder will be instantiated
But when the code go in parser.getMessageType() the decoder can't be == null in the parseAIS() function

MMSI will be 0 for every sentences !!!

[2017-07-19 18:16] PMudra opened #74 "ROTParser does not support setting a negative rate of turn value"
When using `setRateOfTurn` of class `ROTParser` with an negative value an exception is thrown.
This is caused by calling the method `setDegreesValue`.

Rate of turn is not a degree value from 0 to 360 but a speed in degree per minute. The speeds direction can be either clockwise or counterclockwise. The direction is indecated by the sign of the value.

[2017-07-19 18:20] PMudra opened #75 "RPMParser is missing a setRPM method"
The class `RPMParser` does not have a method to set the RPM value. This would be very useful to create RPM sentences.

Reflection can be used as workaround for now by calling `setDoubleValue` with index 2.

[2017-07-19 19:34] ktuukkan commented on #75
Thanks for reporting, it must have been simply forgotten.

[2017-07-19 19:35] ktuukkan commented on #74
Thanks, will be changed to `setDoubleValue` with specific validation if needed.

[2017-07-19 19:37] ktuukkan commented on #73
Thanks for reporting, an obvious mishap while coding.

[2017-09-03 14:28] ktuukkan commented on #75
@PMudra, this and #74 now fixed in latest snapshot version.

[2017-09-03 14:28] #75 closed

[2017-09-03 14:29] #74 closed

[2017-09-03 14:47] ktuukkan commented on #73
@erosdet, please see de45cb1, I think this resolves it?

[2017-10-07 14:05] ktuukkan commented on #73
Resolved by parsing the common fields lazily.

[2017-10-07 14:05] #73 closed

[2017-10-12 05:41] ktuukkan commented on #64
Resolved in PR #76

[2017-10-12 05:41] #64 closed

[2017-11-19 13:31] #61 closed

[2017-12-21 08:51] russellhoff opened #78 "Usage of instanceof to read sentences"
In your examples, you read NMEA sentences comparing their String IDs that way:

[code]

My point is that it's better to use `instanceof``instead of equalising strings:
[code]

This should work, as every "leaf" sentence, e.g. GGASentence or GLLSentence, inherits from a root interface called `net.sf.marineapi.nmea.sentence.Sentence`.

Don't you think is it a better choice?

[2017-12-21 12:30] ktuukkan commented on #78
@russellhoff The most preferred way is to extend `AbstractSentenceListener` to create separate handlers for each sentence type.

Using `instanceof` is often discouraged, but ofcourse I may be used like you suggested.

[2017-12-21 15:02] russellhoff commented on #78
Thanks, [here](http://www.javapractices.com/topic/TopicAction.do?Id=31) is an example of the disadvantages of the usage of `instanceof`

[2017-12-21 15:02] #78 closed

[2018-02-16 16:38] ktuukkan commented on #65
TXT support now available in the latest snapshot.

[2018-02-16 16:38] #65 closed

[2018-03-03 23:09] akidee opened #79 "SentenceReader.start() after setInputStream(...) throws exception"
v 0.9/10.0:

This is how I use SentenceReader in Android for GGA sentences:

    final static SentenceReader SR = new SentenceReader(new ByteArrayInputStream(new byte[0]));
    {
        SR.addSentenceListener(new AbstractSentenceListener<GGASentence>() {

            @Override
            public void sentenceRead(GGASentence sentence) {

                Log.d(TAG, "sr.sentenceRead("+sentence+")")

[2018-03-04 01:30] akidee opened #80 "Option for less strictness (data first, correctness second)"
Testing this with v0.9.0:

Much less sentence events than input events occur, although usable data is in the sentence. I want the parser to give me as much data as it can get while returning special values or null for invalid values.

I included the source code into my project and made the GGAParser class public, and then I just instantiated the parser without pre-checking for validity of the nmea

[2018-03-09 19:09] ktuukkan commented on #80
The exception is related to general validation, so there's something wrong with the sentence formatting or maybe an incorrect checksum. Might also be wrong number of fields, as GGA may contain different number of fields depending on the NMEA version.

@akidee, can I have a clean sample of your data?

[2018-03-09 19:22] ktuukkan commented on #79
Thanks for reporting, this is quite likely a timing problem, will have a look on it. On the other hand, it looks like you don't actually need `SentenceReader` for the second message as it is already a String. Just parse it with `SentenceFactory` and check the sentence id of returned `Sentence`, and then cast it into corresponding sentence interface.

[2018-04-06 07:59] #63 closed

[2018-04-08 14:18] pkoziol opened #83 "Maven build fails due to JavaDoc lint errors"
I'm curious how do you build project. I've run `mvn clean package` which failed, because of JavaDoc lint errors. I had the same problem long time ago, but ignored it, because I've assumed that you didn't support JDK 8. Now I see that you target 1.8, so I'm asking.

Full output: https://gist.github.com/pkoziol/7421ad7ba40fb66c6453431a7a0f4e9e

It's easy to "fix" by adding following configuration to

[2018-04-09 15:36] ktuukkan commented on #83
Hi! Interesting, I just recently built the project and pushed a new snapshot in the repository, but didn't notice anything like this at the time. Also, the builds have passed in Travis too. Anyways, the errors you get seem legit as some javadoc tags are indeed missing. Will need to add those to fix it, thanks for reporting!

[2018-05-14 06:58] Thoimanich opened #86 "Can i read garmin 18x usb device with this API ?"

[2018-05-14 16:11] ktuukkan commented on #86
[Garmin](https://buy.garmin.com/en-US/US/p/27594) says the USB version does not output NMEA-0183, so unfortunately not.

[2018-06-03 14:37] #86 closed

[2018-07-09 09:16] goyalnaresh commented on #25
ready() check is no longer in branch v0.10.0.
@ktuukkan
Is there any (plan to add support of ) custom data reader as suggested in issue description

- provide a "SentenceReader(DataReader source)" constructor to create the SentenceReader instance

    `/**
     * Creates a SentenceReader.
     *
     * @param source DataReaer from which to read NMEA data
     */
    public SentenceReader(DataReade

[2018-07-11 18:30] ktuukkan commented on #25
Hi @goyalnaresh, `ready()` must have been removed while readers were refactored. Might be a problem again, thanks for pointing out. There hasn't been other requests for the constructor after this issue was closed, so haven't thought about it much. But of course it could be done, can you tell some more about your use case and how the constructor would help resolving it?

[2018-07-12 09:36] GPSHansl commented on #25
Hi @ktuukkan, @goyalnaresh
I intercept here.

It was my first intention providing a custom DataReader.
That because even if any "default" DataReader ("UDPDataReader", "DefaultDataReader") is not sufficient for a purpose (or even faulty), it will be possible to replace it by a specialized one.
This one can read other sources (dummy byte array or whatever) or add further checks (e.g. for "ready()")

[2018-07-12 11:38] goyalnaresh commented on #25
Hi @ktuukkan

I have the same case as @GPSHansl

Below is the use case:
I am trying to handle the case when StreamReader is not ready then to avoid calling read() method. This is spamming logs continuously with
Underlying input stream returned zero bytes.

[2018-07-18 11:54] ktuukkan commented on #25
Ok, thanks for your input @GPSHansl & @goyalnaresh. I'll re-open this and fix the issue with `ready()` and also consider adding the constructor too as it wouldn't hurt anyways.

[2018-07-25 18:20] ethanmdavidson opened #88 "Serial Port example needs receive timeout."
When attempting to communicate with a gps chip using some code based on the serial port example, I was having trouble connecting to any ports. When scanning ports, every attempt to read from them was throwing "IOException: Underlying stream returned zero bytes.". Based on [this thread](https://community.oracle.com/thread/1145010) I was able to rectify this by adding a timeout to the port before re

[2018-10-02 08:51] DatangYa opened #90 "how to parser type message $PASHR"
sample NemaStudio $PASHR,042355.7439,0.29,T,+00.02,+00.03,+00.04,0.001,0.002,0.003,1,0*38
help me

[2018-10-03 02:28] appurist commented on #90
See [PASHR - RT300 proprietary roll and pitch sentence](http://www.catb.org/gpsd/NMEA.html#_pashr_rt300_proprietary_roll_and_pitch_sentence)

[2018-10-03 10:29] DatangYa commented on #90
thank you

[2018-10-03 10:30] DatangYa opened #91 "How to Parser type Message $PVTM0 ?"
sample  $PVTM0 ,ID,ddmmyyyy,hhmmss,tt.ttt,h.hhh,D,vv.v,SSSS*hhCL

[2018-10-05 09:58] DatangYa opened #92 "how to registerParser $PASHR ?"
registerParser("SHR", SHRParser.class);

[2018-10-05 11:38] ktuukkan commented on #90
Hi @DatangYa, need help in understanding the sentence format or for parser implementation? For the latter, please have a look at the instructions given in [SentenceFactory](http://static.javadoc.io/net.sf.marineapi/marineapi/0.10.0/net/sf/marineapi/nmea/parser/SentenceFactory.html).

[2018-10-05 11:50] ktuukkan commented on #92
The `$P` stands for proprietary sentence, so you should use both manufacturer ID and sentence type when registering, i.e .`registerParser("ASHR", ASHRParser.class);`

[2018-10-05 12:03] ktuukkan commented on #91
From [TimeMaster Operating Manual](https://www.scribd.com/doc/243766235/TideMaster-Operating-Manual):

Tide data, same for Pressure or Radar measurment

`$PVTM0,ID,ddmmyyyy,hhmmss,tt.ttt,h.hhh,D,vv.v,SSSS*hhCL`

- ID Station ID
- Date ddmmyyyy
- Time hhmmss
- Tide Height tt.ttt
- Tide height stdev h.hhh
- Tide height units D (0,1,2) (dBar, Metres, Feet)
- Battery voltage vv.v
- Status
- *hh checks

[2018-10-08 04:09] DatangYa commented on #92
thank you master

[2018-10-08 04:12] DatangYa commented on #92
registerParser("SHR", SHRParser.class);
ex : $PVTM0 ? How to registerParser ?

[2018-10-08 05:56] DatangYa commented on #91
registerParser("VTM", VTMParser.class);
ex : $PVTM0 ? How to registerParser ?

[2018-10-09 12:43] ktuukkan commented on #92
The same pattern, `registerParser("VTM0", VTM0Parser.class);`

[2018-10-09 12:45] ktuukkan commented on #91
`registerParser("VTM0", VTM0Parser.class);`

[2018-11-08 01:41] rizkypras opened #93 "$PRHO,xxx,DFSTD,0,1,S,243.000,25.0,95.0,30.0,60.0,63.0,31.5,37.0*36"
help me,  how to parser example ?

[2018-11-10 12:54] ktuukkan commented on #93
Hi, see [SentenceFactory](http://static.javadoc.io/net.sf.marineapi/marineapi/0.10.0/net/sf/marineapi/nmea/parser/SentenceFactory.html) for instructions on custom parsers and then see your device's documentation for the proprietary sentence format.

[2018-11-10 12:55] #92 closed

[2018-11-10 12:55] #91 closed

[2018-11-10 12:56] #90 closed

[2018-11-10 12:58] #93 closed

[2018-11-10 13:30] ktuukkan commented on #88
Haven't noticed such behaviour myself, but added the timeout and threshold setting in the example. Thanks!

[2018-11-10 13:30] #88 closed

[2018-11-22 22:45] hananabilabd opened #94 "how to get position to a string sentence ?"
um wondering how to get get position to a string sentence ?

[2018-11-23 06:45] ktuukkan commented on #94
Hi,

the [PositionSentence](http://static.javadoc.io/net.sf.marineapi/marineapi/0.10.0/net/sf/marineapi/nmea/sentence/PositionSentence.html) interface allows you to get and set the [Position](http://static.javadoc.io/net.sf.marineapi/marineapi/0.10.0/net/sf/marineapi/nmea/util/Position.html) object in sentences. This interface is implemented by sentences containting the current position, for examp

[2018-11-23 06:59] hananabilabd commented on #94
I use shareGPS application on android to get GPS data from mobile to my laptop through serial ports so when I used sqentence listener .. I tried everything but something wrong with reading the inputStream
But I then handled the Bytes and I got the string sentences from the serial ...
So my question is how to to convert the string sentence to instance to get position and speed

[2018-11-23 08:30] hadialbadaoui commented on #94
Hi, can u send for me the string sentence as an example?
I need to know the start bit, end bit, etc... to clarify the sentence then I will search for a solution
Thank you, best regards.

[2018-11-23 11:38] ktuukkan commented on #94
`SentenceFactory.getInstance().createSentence(nmea);` and then check the type of returned `Sentence` with `getSentenceId()` and cast it to corresponding interface, for example "GGA" to `GGASentence`.

[2018-11-28 15:54] hadialbadaoui commented on #94
Hello Hanna,
please I need to know if my answer helped you.
if not please tell me to discuss the problem.
Thank you.

[2018-11-28 22:07] hananabilabd commented on #94
@hadialbadaoui  Thanks a lot for explanation
I guess I was nor going that deep into the serial frame
i was in the layer above using rxtx library in java
and eventually i got a solution to my problem
but can i ask you one more question >>
How can i get the velocity from the Nmea sentence ?

[2018-11-29 08:41] hadialbadaoui commented on #94
How can I get the velocity from the NMEA sentence?
WCV - Waypoint Closure Velocity
              1    2  3     4
               |     |   |      |
 $--WCV,x.x,N,c--c*hh<CR><LF>
Field Number:
1- Velocity
2- N = knots
3- Waypoint ID
4- Checksum
Check this URL: http://www.catb.org/gpsd/NMEA.html#_wcv_waypoint_closure_velocity
will explain for you all gps receivers messages

thank you,
Best regards.

[2018-11-29 18:45] hananabilabd commented on #94
Thanks @hadialbadaoui
But i mean how can i get it using this library , is there is a way ?

[2018-12-10 06:33] #94 closed

[2018-12-10 06:35] ktuukkan opened #95 "Support for WCV sentence"
[WCV - Waypoint Closure Velocity](http://www.catb.org/gpsd/NMEA.html#_wcv_waypoint_closure_velocity)

[2018-12-19 23:27] mversaggi opened #97 "SentenceId Javadoc Mentions NMEA 0831 Instead of 0183 (Trivial)"
Simple spelling error in SentenceId class javadoc, just wanted to bring it to attention:

https://ktuukkan.github.io/marine-api/0.10.0/javadoc/net/sf/marineapi/nmea/sentence/SentenceId.html

[2018-12-20 05:57] ktuukkan commented on #97
Ok, thanks for pointing out! :)

[2018-12-21 11:28] viper132 opened #98 "How to Parse NMEA 4.0"
this is the example of the message that i get :

\g:1-2-73874,n:157036,s:r003669945,c:1241544035*4A\!AIVDM,1,1,,B,15N4cJ`005Jrek0H@9n`DW5608EP,0*13

This is the example doc
![annotation 2018-12-21 183251](https://user-images.githubusercontent.com/25095161/50340792-f5be7b00-054e-11e9-9b4d-fc1c46e341c4.jpg)

[2018-12-22 07:57] ktuukkan commented on #98
Hi,

Sentences with tag blocks are not supported at the moment and unfortunately not even recognized as valid sentences. This would require changes both in validation and parsing of data. Once parsed, the tags could be delivered in SentenceEvent along with the actual sentence. I'll look into this and see how it could work, but cannot promise a schedule for it.

However, as a small relief, I've bee

[2018-12-25 14:46] viper132 commented on #98
thankyou for your answer..
for now i just parsing the sentence to get the !AIVDM AIS format..
can i ask u something.. what is the best way to make data stream via websocket with this api..
Thankyou

[2018-12-29 12:45] #97 closed

[2018-12-29 12:48] ktuukkan commented on #25
`AbstractDataReader` is now public and may be given as a constructor param to `SentenceReader`. The `DataReader` interface has been removed as it seemed unnecessary.

[2018-12-29 12:48] #25 closed

[2018-12-29 12:56] ktuukkan commented on #98
The websockets are not supported directly either but by extending the `AbstractDataReader`, which is now public, you should be able to implement a client that works similarly to the UDP reader, e.g. by buffering the socket messages in a queue and returning the head with each call to `read()´ method.

[2019-02-11 08:39] hlaurent opened #99 "Parsing of Latitude and Longitude"
The parser fails to parse latitude and longitude that do not have leading zeros like:
$GPGLL,4426.291992,N,159.931976,W,143744,A*3B
The parser interpret this as 159°W when it should be 1°59'W.
The parser is waiting for 00159.931976 while it receives 159.931976

This is an error in the parser as the NMEA conventions state :
Where a numeric latitude or longitude is given, **the two digits immediatel

[2019-02-11 14:07] ktuukkan commented on #99
Indeed, you're correct. Thanks for reporting!

[2019-02-14 15:33] ktuukkan commented on #99
Fix now available in the latest snapshot.

[2019-02-14 15:35] ktuukkan commented on #83
Should work on jdk 8 & 9 now. Javadoc generation also now added in CI to better reveal future errors.

[2019-02-14 15:35] #83 closed

[2019-02-14 19:34] ktuukkan commented on #99
Re-opened due to issues with 0° lat/lon formatting, for example

- .844957 for 0°00.844957'
- 8.844957 for 0°08.844957'
- 28.844957 for 0°28.844957'

[2019-03-06 18:31] handyli opened #101 "removeSentenceListener, by type improvement?"
Hi,
There is addSentenceListener(SentenceListener sl, String type).
Would it make sense to have possibility to remove listener by type? Now only option is:
removeSentenceListener(SentenceListener listener)

I have one listener (tcp port) which I want to receive only some sentences and to be able to change sentences later. Current removeSentenceListener will remove all SentenceListeners.

I have GP

[2019-03-08 16:55] ktuukkan commented on #101
Yes, the current implementation removes the listener regardless of types it was added for, so I understand it may be a problem if you've registered the same listener for many types. The suggestion seems feasible and easy to implement, so I don't see problems in adding it.

[2019-03-16 11:27] ktuukkan commented on #101
@handyli, this is now done in the latest snapshot.

[2019-03-16 11:28] #99 closed

[2019-03-23 10:12] #101 closed

[2019-03-28 16:38] SKRahulSK opened #102 "java.lang.Error: Unresolved compilation problems:"
I am trying to use the api in OSGI framework.

 While running it on linux distribution, I am getting below error.

java.lang.Error: Unresolved compilation problems:
        SerialPort cannot be resolved to a type
        The method getSerialPort() from the type SerialPortExample refers to the missing type SerialPort

        at net.sf.marineapi.example.SerialPortExample.init(SerialPortExample.java

[2019-03-28 18:06] ktuukkan commented on #102
Just provide the serial port API in your classpath/pom or ignore the examples when compiling. The dependency is left out intentionally as it is not in the scope of the library.

Also notice, you shouldn't need to compile the whole library if you're just adding new parsers. If you are compiling because you have made changes in the code, please remember to follow LGPL.

[2019-03-28 18:06] #102 closed

[2019-04-04 10:16] songhaonangit opened #103 "openjdk 1.8 net.sf.marineapi.util.GenericTypeResolver.resolve(GenericTypeResolver.java:57) at net.sf.marineapi.nmea.event.AbstractSentenceListener.<init>(AbstractSentenceListener.java:77)"
2019-04-04 18:11:30.388 8411-8411/? E/AndroidRuntime:     at net.sf.marineapi.util.GenericTypeResolver.resolve(GenericTypeResolver.java:57)
        at net.sf.marineapi.util.GenericTypeResolver.resolve(GenericTypeResolver.java:57)
        at net.sf.marineapi.util.GenericTypeResolver.resolve(GenericTypeResolver.java:57)
        at net.sf.marineapi.util.GenericTypeResolver.resolve(GenericTypeResolver

[2019-04-08 13:46] ktuukkan commented on #103
Any context or additional info for this?

[2019-09-05 02:25] tmaxted opened #105 "ZDA message getTime() fails when no offset's are present, no matter if time is present or not."
When calling getTime() on a zdaSentence, if there are no timezone offsets present the method will return a DataNotAvailableException, even if the time is available.

Stacktrace:
`2019/09/05 00:02:10.923 [INFO ] 2                       $GPZDA,000212.926501,05,09,2019,,*68
2019/09/05 00:02:10.925 [WARN ] NettyDatagramHandler    Exception caught in Datagram handler
net.sf.marineapi.nmea.parser.DataNo

[2019-09-05 02:36] tmaxted commented on #105
I fixed this by creating a local class which extended SentenceParser and implemented ZDASentence. Then altered the getTime() method to have a try catch block around the method calls to the getLocalZone_() methods.

Like so:
![code](https://user-images.githubusercontent.com/38783614/64307474-4f39dd80-cfea-11e9-805f-2f8b204df1d7.png)

Or completely ignoring the offsets:
![code](https://user-images.g

[2019-09-05 02:36] #105 closed

[2019-10-18 18:59] Dazza666 opened #106 "PA flag is always false in AIS messages 1,2,3,18,19 etc"
It looks like the PA flag in messages 1,2,3,18,19 etc is always false, i.e. low

For example, if I send a message 1, which contains a PA flag set to high (1), like so:

**!AIVDM,1,1,,A,197vW0G2iTP4fg0Mhr40<P:t0@Ru,0*33**

I get a 'false' when decoding the message.

If, I pump that message into the online decoder at:

https://www.maritec.co.za/tools/aisvdmvdodecoding/

You see that the PA flag is a

[2019-10-18 19:30] Dazza666 commented on #106
I should probably also mention that I believe the fix is actually found in the AIS Message 9:

`fPositionAccuracy = content.getBoolean(**TO**[POSITIONACCURACY]);`

vs the incorrect (in AISPositionReportParser)

fPositionAccuracy = content.getBoolean(**FROM**[POSITIONACCURACY]);

[2019-10-19 15:13] ktuukkan commented on #106
@Dazza666, thanks for reporting! Looks like an indexing problem and there's also at least one error in the tests that allowed it to pass as correct :/

The class comment in `AISPositionReportParser` says "from 61 to 61" for position accuracy, but in the actual index arrays it's 60 and 61, hence using `TO` instead of `FROM` fixes it. There's also other indices off by one compared to the class comme

[2019-10-19 15:15] ktuukkan commented on #103
Unable to reproduce, thus closing for now.

[2019-10-19 15:15] #103 closed

[2019-10-21 14:44] Dazza666 commented on #106
I will check this tomorrow and come back to you, I also noticed the indexing positions, but thought perhaps this was intentional for some reason that wasn't clear upon a quick look at the code. Thank you for such a prompt fix!

[2019-10-22 07:15] Dazza666 opened #107 "DTE (Data Terminal Equipment) is not decoded in a message 5"
DTE (Data Terminal Equipment) is not decoded in a message 5 (AISMessage05Parser) DTE also exists in a message 9; the code for a type 9 **does** expose this field however.

Message type 18 & 19 (Class B devices) also omit the DTE flag, but this I think is a separate issue, as there are a couple of other fields which don't appear to be decoded here either.

The DTE flag is not decoded in a message 5

[2019-10-22 07:57] Dazza666 commented on #106
Right, am happy to report that this issue has been resolved, Position Accuracy now reports correctly.

Note, for anyone using Gradle, you will need to add the following line in order to obtain snaphots

`maven { url 'https://oss.sonatype.org/content/repositories/snapshots' }`

[2019-10-22 09:00] ktuukkan commented on #106
Ok cool, thanks for testing. I'll still have some further looks on this as the indexing is a bit puzzling. Perhaps @techhead2 still remembers something about this and could enlighten us?

[2019-10-22 09:01] ktuukkan commented on #107
Another good find, thanks! Will have a look on this too.

[2019-10-22 09:23] techhead2 commented on #106
Sorry guys, I haven't had a look at the code for years.

[2019-10-22 11:44] ktuukkan commented on #106
Ok, thanks anyways :)

[2019-12-13 11:12] NontasPantzopoulos opened #108 "TTM Sentence Parser doesn't have Getters for course (T/R) and bearing (T/R)"
`src/main/java/net/sf/marineapi/nmea/parser/TTMParser.java`

I believe there should be getters for BEARING_TRUE_REL and COURSE_TRUE_REL, because it depends on RADAR device settings. FYI, it is not always T (TRUE). Some older devices transmit NMEA messages with these two values set to R (RELATIVE). If you add this change, a programmer could write some logic to it, in order to catch all the cases.

[2019-12-13 13:49] ktuukkan commented on #108
Hi! Thanks for pointing out, these are very easy to add.

[2020-03-07 23:17] SashLi opened #111 "Unable to register own parser to a reader"
Hi, first thank you for your very nice work here.
I implemented to own parser for "$PFLAU" and want to register this parser to a SentenceReader that is listening on a serial port.

I could not found a hook to register the parser.

Always returns a "WARNING: Parser for type 'FLAU' not found"

Its an instance fo the SentenceReader

`SentenceReader reader = new SentenceReader(port.getInputStream());

[2020-03-15 09:36] ktuukkan commented on #111
Hi, sorry for the late reply, it seems I'm not getting any notifications from this project for some reason.

You may add your own parsers in the [SentenceFactory](https://www.javadoc.io/doc/net.sf.marineapi/marineapi/latest/net/sf/marineapi/nmea/parser/SentenceFactory.html), see the `registerParser()` method. After that, you use the reader just like before, adding only the listerners in there.

[2020-03-15 10:10] ktuukkan commented on #107
Hello @Dazza666, can you confirm the above commit resolves the problem for you?

[2020-03-16 12:14] Dazza666 commented on #107
I should be able to test this for you over the next few days

[2020-04-09 19:22] aitov opened #113 "GSA message filtered by timeout"
I'm using BU-353S4 GPS receiver on Mac
There is issue with GSA message which removed by timeout in AbstractProvider:236
`long age = now - se.getTimeStamp();`
			`if (age > 1000) {`
				`return false;`
			`}`
As result I never received SatelliteInfoEvent because GSA message is required part of it (with GSV)
I had to disable this check in order to fix it.
Probably we need increase this timeout for s

[2020-04-10 17:18] ktuukkan commented on #113
Hi! Thanks for reporting, I'll make it configurable so you can adjust as needed.

[2020-04-13 12:00] ktuukkan commented on #113
Hi @aitov, would the above commit resolve the issue for you? The latest snapshot contains the fix now.

[2020-04-13 14:27] aitov commented on #113
Hi @ktuukkan , I set timeout manually, now working as expected. Thank you.

[2020-04-13 14:27] #113 closed

[2020-06-06 10:28] ghillert opened #114 "Add support for PUBX messages (u-blox extension)"
I am working on parsers for the u-blox PUBX messages [1], [2]. Unfortunately, the *SentenceId* is not enough in this case. The PUBX message types are actually not only identified by *PUBX* but also identified by the secondary *msgId* (Second field of the message):

* $PUBX,00,... -  Lat/Long position data message
* $PUBX,03,... - Satellite status message
* ...

It would be nice if the SentenceFact

[2020-06-07 12:53] ktuukkan commented on #114
Hi, is not feasible to resolve this in SentenceFactory, but this looks like similar pattern as in AIS messages, so it could be resolved by adding an additional layer of event listeners on top of PUBX listener/parser. That is, a common handler for all PUBX sentences that checks the first field and then creates a correct parser for the message. You may have a look on [AbstractAISMessageListener](htt

[2020-06-09 02:59] ghillert commented on #114
Ok - Cool. Thanks for the clarifications. Looks like the AIS route via listeners should work. Working on this this week and might be able to have a PR ready by this weekend to support Pubx00 and Pubx03.

[2020-06-10 07:21] ktuukkan commented on #114
Ok, that would be nice. I'd suggest creating these in `..sf.marineapi.ublox` package, similarly as with NMEA and AIS. In the `.nmea` package add only the common `UBX` sentence using `P` as the TalkerId. Not sure if a factory class for creating the specific PUBX parsers is needed, but let's see how it looks and works. A simple switch-case or if-else might be enough. I can also refactor/align the de

[2020-06-16 10:41] ghillert commented on #114
Need a few more days. Have a local listener setup that starts to work ;-) but I am hitting some roadblocks - While the AIS Messages are the closest "relative" to Pubx Messages there are some distinct issues. Technically, a Pubx "Message" is not a _Sentence_, yet the parse logic I need is in `SentenceParser`. It is a bit tricky work with composition instead of inheritance.

Another one is the parsi

[2020-06-16 13:26] ktuukkan commented on #114
Ah right.. didn't foresee that earlier, my bad. Admittedly, it is a bit hairy with AIS too but having a look on it as a separate issue is a good idea, if need be. Anyways, I don't see problem if it's done with composition. How about just exposing the required getters from `SentenceParser` and defining a wrapper for each UBX message type with more specific methods?

For example, something like this

[2020-06-19 14:15] Dazza666 commented on #107
Hi, sorry this is so late I have only just had a chance to check this out, can confirm that it is fixed on 0.12 snapshot.

[2020-06-23 21:09] ghillert commented on #114
Cool this works. `UBXMessage03` is working now locally with all data fields being parsed. Still have a to do quite a bit of polishing plus need to add a few test cases. Hopefully just a few more days.

There is a bit of ambiguity, but we can discuss those once the PR is open - e.g. `Position` has an `altitude` property but it is defined as `Gets the position altitude from mean sea level` but the U

[2020-07-02 05:46] ktuukkan commented on #79
Closing this because I'm affraid I don't fully understand your use case and thus also unable to reproduce the problem. Feel free to open new issue if needed.

[2020-07-02 05:46] #79 closed

[2020-07-06 22:57] ghillert commented on #114
Created an initial PR. May still need to do some polishing but it all seems to work. One area I am still frustrated with is the parsing of the satellite ids. This seems to be a bit complicated with PUBX03. Theoretically the satellite ids should allow you to identify the GNSS system - see chapter "1.5.3 Satellite identifiers" - https://www.u-blox.com/en/docs/UBX-18010854 but the `single svId` don't

[2020-07-07 06:42] ktuukkan commented on #114
Ok, thanks for your efforts, I'll have a look in the near days.

[2020-07-14 01:27] ghillert opened #116 "Add support for Signal ID to GSV Parser"
NMEA 4.10+ added support for the [GNSS Signal ID](https://www.u-blox.com/en/docs/UBX-18010854#%5B%7B%22num%22%3A1295%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22XYZ%22%7D%2C59.527%2C613.937%2Cnull%5D) to GSV messages.

[2020-07-15 10:47] #111 closed

[2020-07-15 10:52] ktuukkan commented on #108
Resolved in #112

[2020-07-15 10:52] #108 closed

[2020-07-28 02:44] joshsweaney opened #117 "ais.util.ShipType - CargoType?"
The ShipType util class for AIS combines the cargo type and the ship type into a single string. There is no method to get the cargo type string, and the String array of second digit (cargo digit) codes is private. It is common to display the two fields separately on navigational displays.

It would be helpful if there were separate methods for getting the ship type string and cargo type string.

[2020-08-03 21:31] ghillert commented on #116
Added PR. I refrained from creating an enum for the signal ids. It looks like devices may send back proprietary values for older protocol versions. Also having the signal field behind a variable-length group, is kind of screwy. I hope the parsing logic makes sense.

<rant>_NMEA_ in general and _GSV_ in particular are really quite messed up. E.g. How do you *know* that you received ALL GSV messages

[2020-08-05 09:55] ktuukkan commented on #117
Thanks for reporting, I'll have a look on this after my vacation.

[2020-08-05 10:01] ktuukkan commented on #116
Yep, in many places it's quite inconsistent and messed up with proprietary conventions. That's what I've always tried to hide and make easier for users in this library, but unfortunately it's not always that easy, given all those oddities.

[2020-08-06 01:58] ghillert commented on #116
@ktuukkan By the way, I was thinking about the issue of the "reporting cycle". As there is no way to know where the message cycle ("transaction") starts or ends, GPSD does some profiling to determine a complete cycle across GPS devices. Did you ever consider implementing something like this in Marine API? I wonder if that would be a good add-on. It is crazy that this is not covered in the standard

[2020-08-07 15:51] ktuukkan commented on #116
SatelliteInfoProvider collects a sequence of GSVs and delivers the data in a single event, but other than that I haven't given it much attention. Now that you meantioned it, the provider should probably be amended with signal ID as well, in any case. And while at it, maybe see if there's also something to improve?

[2020-09-04 08:41] qtran opened #121 "Make AIS length validation less restricted"
Hi,
would it be possible to make the AIS length validation less restricted or configurable?
Due to tests with different AIS sources we noticed that sometimes that it is required to increase the maximum length.

Best regards

[2020-10-13 17:34] #114 closed

[2020-10-13 18:11] #117 closed

[2020-10-15 13:49] liosedhel opened #123 "Support for the AISMessage27"
Hello @ktuukkan  :)

Do you plan to support for AISMessage27 https://www.navcen.uscg.gov/?pageName=AISMessage27 in the near future?
If not, any particular tips if I would like to jump on it and try to add this support?

Best regards
Krzysiek B.

[2020-10-20 18:57] #123 closed

[2020-11-01 15:28] bjorndarri opened #125 "Automatic module name"
Hi,

Would you consider adding an automatic module name to the jar?

[code]

Thanks

[2020-11-16 14:02] #125 closed

[2020-11-17 07:27] ktuukkan commented on #121
Hi @qtran, could you give some examples cases?

[2021-01-15 09:41] Korzi opened #127 "Clarify AISPositionReport SOG and COG javadocs"
Hi @ktuukkan

Could you please help me with understanding `getSpeedOverGround` method in AISPositionReport?
In the javadoc it says:
"return Speed in 1/10 knot steps (0-102.2 knots), 1023 = not available,
             1022 = 102.2 knots or higher."

Does it return 1/10 knots or actual knots? I am not sure what "knot step" is. Is it that "1022" value (value of knots with one decimal place represente

[2021-01-19 10:01] ktuukkan commented on #127
Hi @Korzi,

the parser returns actual knots. The original value is delived as integer, so the getter divides it by 10 to get the 1/10 precision (one decimal). Hence the "step" only means the precision of value that's encoded as int (1022, 1023..).

What the javadoc says is directly from [AIS documentation](https://www.navcen.uscg.gov/?pageName=AISMessagesA), so it's a admittely a bit confusing for

[2021-01-19 10:41] Korzi commented on #127
Thank you for the clarification :)

Not sure whether I should close the issue or you will close it after fixing docs? Or should I create merge request with this small fix?

[2021-01-19 11:27] ktuukkan commented on #127
Let's keep it open so I don't forget about it :)

[2021-07-06 17:08] svnhub opened #128 "FaaMode does not support RTK"
Some of the new receivers can send new modes that are not part of the FaaMode enum:

These already exist in marine-api:
A=Autonomous
M=Manual input
D=Differential
E=Estimated
P=Precise
N=No fix
S=Simulator

These real time kinematic modes are missing:
R=RTK fixed
F=RTK float

[2021-07-15 22:50] ktuukkan commented on #128
Thanks, I'll add them in the enum :+1:

[2021-09-22 10:34] piemmm opened #129 "event list grows forever if isReady() always returns false for PositionProvider"
Hi!

If isReady(), for example in PositionProvider always returns false because no valid GPS signal is ever acquired for a considerable period of time, then the 'events' list will eventually grow big enough to consume all CPU/RAM available to the VM. Typically this takes less than 2 days to happen at the usual 1 second interval.

The events list should be cleared/pruned/expired/etc, or better yet

[2021-10-05 19:02] ktuukkan commented on #128
Added the modes and deployed in snapshot.

[2021-10-05 19:02] #128 closed

[2021-10-05 19:04] ktuukkan commented on #129
Good catch, thanks @piemmm!

[2021-10-09 13:22] ktuukkan commented on #129
A map would be nice solution to save memory, but it doesn't work if the data spans over multiple sentences of same type, e.g. `GSV` or `RTE,` and the provider must collect all of them before firing an event.

[2021-10-09 15:23] #127 closed

[2021-10-12 11:49] piemmm commented on #129
Hi!

That looks fine

Worth a mention that if the clock has drifted (and is reset by GPS) then currentTimeMillis can jump forwards or backwards, so you may end up with the possibility of a couple of stale entries depending on how current (or future) providers work (though for this application I doubt it matters that much :-))

[2021-12-06 02:23] eclectice opened #130 "Android Proguard issue with marine-api"
Just a reminder that if this API is used in an Android project and the `minifyEnabled true` option is used, the following proguard entry must be added:
[code]

[2021-12-08 19:57] ktuukkan commented on #130
Hi @eclectice, thanks! I'm not familiar with Android, is there anything that could be done on the library to avoid that?

[2021-12-09 03:59] eclectice commented on #130
It is highly specialized to Android development, where Android developers can use the Proguard functionality to minimize, optimize, and obfuscate the Java/Kotlin codes...I guess it can be included in the README or Wiki.

The final Proguard setting that I use right now is:

[code]

The marine-api calls are not executed at all if the Proguard configuration is not included in the Android app's `build

[2021-12-14 21:10] ktuukkan commented on #130
Updated README with this info, thanks!

[2021-12-14 21:10] #130 closed

[2021-12-14 21:11] #129 closed

[2022-01-20 15:14] alexismanin opened #131 "AIS position interfaces"
I am experimenting AIS message reading, and I am wondering how to access its information in a convenient way.

By looking at AISPositionReport and AISPositionReportB, I see that they contain a lot of similarity that, I think, should be factorized in a common ancestor (maybe in the existing AISPositionInfo interface, but it is not public).

What do you think about it ? Would you like me to do a PR

[2022-01-21 07:07] ktuukkan commented on #131
Yes I see the problem, and I don't see any trouble in declaring AISPositionInfo public. On the NMEA-side we have PositionSentence interface and Position object returned by it. Perhaps the AIS could also provide similar (or even same?) wrapper for position info instead of individual methods? Do you have any additional changes in your mind?

[2022-01-21 07:37] alexismanin commented on #131
For now, I have no further idea, but I've discovered AIS side of the library recently, so maybe other suggestions will arise as I'll use it.

I'll provide a PR with simple changes as a base for discussion, we can see from here if more should be done.

I'll try to provide the PR in the a few days.

[2022-01-23 18:23] alexismanin commented on #131
Ok, so after looking at it, I think that :

1. AISPositionInfo is not the right place to mutualize common properties, because:
    a. Some messages like AISMessage4 depends on it, and they don't provide other properties like the ones in AISPositionReport and AISPositionReportB.
   b. Anyway, in both AISPositionReport and AISPosittionReportB, SOG is defined as double. If we define it in parent AISP

[2022-02-05 13:06] ktuukkan commented on #131
@alexismanin Pull requests merged/closed and deployed a new snapshot.

[2022-03-12 16:40] #131 closed

[2022-08-14 18:07] YannPara opened #134 "Wrong checksum calculator for NMEA1083 AIS/GPS (AIVDM / G)"
Hello,
I think it's may have an error in checksum computation for NMEA sentence (or I use wrong your API).

**Describe the bug**
When decode AIS+GPS stream with Marine-API, find >95% of "Invalid data" output (but streams is decode with error<1% on others software).

**To Reproduce**
Sentence sample :  !AIVDM,1,1,,A,133sfv002POVWD0Je4sMA:a@00S?,0*3F
Compute CRC with Marine-api : 7A
Compute CRC with

[2022-08-16 19:34] ktuukkan commented on #134
Hi @YannPara, thanks for reporting!

I added some unit tests for the samples you provided, but I wasn't able to reproduce the mentioned results. All tests pass checksums matching and the sentence validation passes too (see commit da775b2).

That said, I didn't run the tests against v0.11 yet, so this might have been already fixed in the latest snapshot.

[2022-08-20 11:15] mikeshedrack opened #135 "Encoding AIVDM with fragments"
// !AIVDM,2,1,0,A,58wt8Ui`g??r21`7S=:22058<v05Htp000000015>8OA;0sk,0*7B
    // !AIVDM,2,2,0,A,eQ8823mDm3kP00000000000,2*5D

How can i be able to encode  above nmea sentences

[2022-08-21 09:27] ktuukkan commented on #135
You may use [AISMessageFactory](https://www.javadoc.io/static/net.sf.marineapi/marineapi/0.11.0/net/sf/marineapi/ais/parser/AISMessageFactory.html) to _decode_ AIS messages, but this library does not encode them.

[2022-08-21 21:05] #135 closed

[2022-11-21 18:15] RiseOfDeath commented on #121
Seems that it hardcoded: As example in AISPositionReportParser.java:
`		if (content.length() != 168)
			throw new IllegalArgumentException("Wrong message length");`

[2022-11-23 16:25] Alisha-R opened #136 "Bad interleaving found that causes test failure"
commit version- af00038

Describe the bug
It is possible to encounter an assertion failure due to a thread interleaving where one thread reads from shared variable (sentence) at Line 141, and another thread sets the value of sentence (at Line 218). I can observe such an execution that results in the exception from running an existing test net.sf.marineapi.nmea.io.SentenceReaderTest#testStartAndSto

[2022-11-25 08:54] RiseOfDeath opened #137 "Wrong message handle"
Hi all, can you advice how to handle wrong messages (f.e. java.lang.IllegalStateException: java.lang.IllegalArgumentException: Wrong message length).

Exeption listener, which I have setted for reader, not called for such type of exeptions.

[2022-11-29 10:33] ktuukkan commented on #137
Duplicate of #121

[2022-11-29 10:33] #137 closed

[2022-11-29 10:34] ktuukkan commented on #121
Please provide more context and sample data - or preferrably a pull-request proposing a fix.